@import "variables";

body {
  background-color: $brand-primary;
  margin-bottom: 70px;
}

.navbar {
  margin: 1em 2.5em 0 2.5em;
  transform: skew(-15deg);
  border-width: 0;

  a.nav-link {
    transform: skew(15deg);
  }
}

.navbar-inverse .navbar-nav {
  font-style: italic;

  .nav-email {
    background-color: white;
    padding: 0 2.5em;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: lighten($brand-primary, 20%);
    }

    a.nav-link {
      color: black;
    }
  }
  .nav-twitter {
    background-color: black;
    padding: 0 2.5em;

    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: darken($brand-primary, 30%);
    }

    a.nav-link {
      color: white;
    }
  }
}
.ewr-logo {
  height: 4.2rem;
  vertical-align: baseline;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
  font-size: 1em;
}

h3 {
  font-weight: 900;
}

h4 {
  color: white;
}

h1 {
  font-size: 5.5rem;

  small {
    font-size: 3.95rem;
    color: white;
  }
}

.bottom-logo {
  margin-top: -2.25rem;
}

p {
  strong {
    color: black;
  }
}

.jumbotron {
  padding-top: 12em;
  margin-bottom: 0;

  .btn:hover {
    background-color: darken($brand-primary, 45%);
    cursor: pointer;
  }

}

.jumbotron-details {
  margin-top: 2em;
}

.landing-jumbo {
  min-height: 100vh;
}

.cfp-row {
  font-family: $font-family-sans-serif;
  background-color: white;
  padding: 4em 0;
  color: black;

  h3 {
    font-family: $font-family-serif;
    color: black;
    padding-right: 0.5em;
    display: inline-block;

    @media (max-width:990px) {
      width: 100%;
    }
  }

  ul {
    margin: 1.5em 0;
  }

  .paper {
    height: 5em;

    @media (max-width:600px) {
      display:none;
    }
  }
}

footer {
  background-color: $brand-primary;
  padding: 2.5em;
  color: white;
  font-size: .8em;
}

.highlight {
  background-color: #FFF384;
  padding: 0.25rem;
}

.btn {
  font-family: $font-family-sans-serif;
  border-width: 0px;
  font-weight: 900;
  padding: 1em;
}

.btn:hover {
  background-color: $brand-primary;
}

.navbar {
  font-family: $font-family-sans-serif;
  background-color: black;
  padding: 0 1em;

  .navbar-brand {
    font-weight: bold;
    color: white;
  }
}

.navbar-inverse .navbar-toggler {
  border: 0;
}

input {
  font-family: $font-family-serif;
}

::-moz-selection { /* Code for Firefox */
    color: #000;
    background: #fff;
}

::selection {
  color: #000;
  background: #fff;
}

.form-control {
  border: 0;
  border-bottom: 2px solid black;
  margin-right: 1em;
}

.cfp-link {
  color: white;
  font-weight: 900;
  font-size: 1.6em;
}

.cfp-link:hover {
  color: white;
}

.inline-logo-text {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  padding: 0.3em 0.3em 0.3em 0;
  color: black;
  background-color: white;
  padding: 0.3em;
  font-weight: 900;
}

.form-control {
  background-color: #696cbf;
}

.navbar-toggler-right {
  right: 0em;
}

.twitter-icon {
  width: 20px;
}

.droplet-icon {
  width: 8px;
}

.heart-icon {
  width: 30px;
}
