@import "variables";

body {
  background-color: $black;
  margin-bottom: 70px;
}

.navbar {
  border-width: 0;
}

.navbar-inverse {
  .nav-link, .navbar-brand {
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: darken($brand-primary, 30%);
    }
  }
}

.ewr-logo {
  height: 4.2rem;
  vertical-align: baseline;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
  font-size: 1em;
}

h3 {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 1px;
  display: inline-block;

  @media (min-width: 768px) and (max-width: 780px) {
    font-size: 1.8rem;
  }

  @media (min-width: 781px) and (max-width: 1100px) {
    font-size: 2.3rem;
  }
}

h4 {
  color: $brand-info;
}

h1 {
  font-size: 5.5rem;

  small {
    font-size: 4.2rem;
    color: $brand-info;
  }
}

@media (max-width:600px) {
  .top-logo {
    h1 {
      font-size: 4em;
    }
  }
  .bottom-logo {
    h1 {
      small {
        margin-top: -2em;
        font-size: 0.65em;
      }
    }
  }
}

.bottom-logo {
  margin-top: -2.25rem;
}

p {
  strong {
    color: $brand-secondary;
  }
}

.jumbotron {
  padding-top: 12em;
  margin-bottom: 0;
  transition: padding-top 1s ease-in-out;

  h3 {
    font-size: 1.75rem;
  }

  @media (max-width: 990px) {
    padding-top: 4em;
  }

  .btn-secondary {
    cursor: pointer;
    border: 0;
  }

  .btn-primary:hover {
    background-color: darken($brand-primary, 30%);
  }

}

.jumbotron-details {
  margin-top: 2em;
}

.landing-jumbo, .cfp-row {
  min-height: 100vh;
}

.cfp-row {
  font-family: $font-family-sans-serif;
  font-size: 0.9em;
  background-color: $brand-info;
  padding: 8em 0;
  color: $brand-secondary;

  h3 {
    color: $brand-secondary;
    padding-right: 0.5em;
    display: inline-block;
  }

  ul {
    margin: 1.5em 0 1em -1.5em;
  }

  .paper {
    height: 1em;
  }
}

.cfp-link {
  @media (max-width:600px) {
    display:none;
  }
}

footer {
  margin: 0;
  padding: 2.5em;
  color: $white;
  font-size: .8em;
}

.highlight {
  background-color: #FFF384;
  padding: 0.25rem;
}

.btn-primary {
  border-radius: 3px;
  background: darken($brand-primary, 10%);
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
  font-family: $font-family-serif;
  font-size: 1em;
  font-weight: 900;
  border-width: 0px;
  padding: 0.8em;
  border-bottom: 2px solid darken($dark-purple, 20%);
  overflow: hidden;
}

.btn:hover {
  background-color: lighten($brand-primary, 15%);
  color: $dark-purple;
}

.navbar {
  font-family: $font-family-sans-serif;
  background-color: $brand-secondary;
  padding: 0 1em;

  .navbar-brand {
    font-weight: bold;
    color: $brand-info;
  }
}

.navbar-inverse .navbar-toggler {
  border: 0;
}

input {
  font-family: $font-family-serif;
}

.form-control {
  border: 0;
  border-bottom: 2px solid $brand-secondary;
  margin-right: 1em;
}

.cfp-link {
  color: $brand-info;
  font-weight: 900;
  font-size: 1.6em;
}

.cfp-link:hover {
  color: $brand-info;
}

.inline-logo-text {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  padding: 0.3em 0.3em 0.3em 0;
  color: $brand-secondary;
  background-color: $brand-info;
  padding: 0.3em;
  font-weight: 900;
}

.form-control {
  background-color: lighten(#696cbf, 2%);
}

.navbar-toggler-right {
  right: 0em;
}

.twitter-icon {
  width: 20px;
}

.droplet-icon {
  width: 8px;
}

.heart-icon {
  width: 30px;
}

.about-page {
  min-height: 100vh;
  background-color: $brand-primary;
  padding-top: 5em;
  font-size: 1.3em;

  .about-row {
    a {
      color: $black;
      font-weight: 900;
    }
  }
}

.about-row {
  padding: 1.5em 0;
  font-size: 0.8em;

  p, strong {
    color: white;
  }

  h3 {
    color: darken($brand-primary, 10%);
    font-size: 2em;
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    @media (max-width: 780px) {
      display: none;
    }
  }
  a {
    color: $brand-primary;
  }
}

.purple-heart {
  color: #8F6BA9;
}
