@import "variables";

.speaker-row {
  padding: 3em 0;
	background-color: #16192F;
	color: $brand-info;

	a {
		color: lighten($brand-primary, 10%);
		font-weight: 900;
	}

	p {
		font-family: $font-family-sans-serif;
		font-size: 0.9em;
	}

	.speaker-abstract {
    font-size: 1em;
		font-family: $font-family-sans-serif;
		background-color: darken($brand-primary, 25%);
		padding: 1.5em;
		box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.15);
		border-radius: 2px;

    strong {
      color: white;
    }
	}

  h3 {
    font-family: $font-family-serif;
    text-transform: none;
    font-size: 1.6em;

    @media (min-width: 768px) and (max-width: 780px) {
      font-size: 1.3rem;
    }

    @media (min-width: 781px) and (max-width: 1100px) {
      font-size: 1.4rem;
    }
  }

  h4 {
    font-family: $font-family-serif;
  }
}

.speaker-figure {
	position: relative;
  width: 100%;
  display: block;

  @media (max-width: 580px) {
    width: 50%;
  }

	img {
		margin: 0;
    width: 100%;
    display: block;
		filter: grayscale(100%);
		-webkit-transition: filter 1s ease-in-out;
		transition: filter 1s ease-in-out;
	}

	.speaker-shine {
		background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.75) 50%, transparent 100%);
		-webkit-transition: background-image 3s ease-in-out;
		transition: background-image 3s ease-in-out;
	}

	.speaker-overlay {
		background-image: linear-gradient(45deg, rgba(189, 112, 208, 0.5) 50%, RGBA(115, 118, 195, 0.5), rgba(162, 118, 218, 0.4));
		-webkit-transition: background-image 3s ease-in-out;
		transition: background-image 3s ease-in-out;
	}

	&.speaker-visible {
		img, .speaker-shine, .speaker-overlay {
				filter: none;
				background-image: linear-gradient(45deg, rgba(189, 112, 208, 0.2) 50%, RGBA(115, 118, 195, 0.2), rgba(162, 118, 218, 0.2));
		}
    -webkit-transition: background-image 3s ease-in-out;
    transition: background-image 3s ease-in-out;
	}

	figcaption {
		position: absolute;
		margin-top: -10%;
		width: 100%;
		color: $brand-info;

		h3 {
			font-size: 1.3em;
			margin-bottom: 0.5em;
			text-transform: capitalize;
		}

		h3, p {
			font-family: $font-family-serif;
			padding: 0 1em;
			background-color: darken($brand-primary, 5%);
			display: inline-block;
		}
	}

	.speaker-deco {
		position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
		stroke: #9255ae;
		stroke-width: 6px;
		mix-blend-mode: color;
	}
}

.speaker-bio {
  p {
    font-family: $font-family-serif;
  	font-size: 0.9em;
  }

  strong {
    color: $white;
  }
}

.speaker-alt-row {
  background-color: darken($brand-primary, 40%);
}
